<div class="main">
    <div class="main-banner">
        <div class="content">
            <div class="overlay" style="background: url('/meta/page_bg 2.png')"></div>
            <div class="text-wrapper">
                <div class="sub-title">
                    <span class="no-wrap">
                        매일매일
                    </span>
                    <span class="no-wrap">
                        무엇이든 기록하려는
                    </span>
                </div>
                <div class="main-title">
                    <span class="no-wrap">
                        <a href="https://github.com/jayleenym" target="_blank">제이린</a>의 
                    </span>
                    <span class="no-wrap">
                        기술 블로그입니다.
                    </span>
                </div>
                <br/>
                <div class="description">
                    <span class="no-wrap">
                        <p>저에 대한 소개와 제가 배워온 것들, 마주했던 오류 등
                        이런저런 이야기들을 공유하고 있습니다.</p>
                    </span>
            </div>
        </div>
    </div>
</div>
